@import url(variables.css);
/* CONIGURACION DEL LOGIN */
body{
    background-image: url(../images/Fondo-login.png);
    background-size: 100%;
}
.input-grup{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    
}

.box {
    position: absolute;
    display: grid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-height: 600px;
    max-height: 850px;
    box-sizing: border-box;
    border-radius: var(--radio-contenedor-grande);
    background: var(--color-blanco-fondo);
}

@media screen and (min-width: 1000px) and (max-width:1500px) {
    .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 4vh;
    }
}
@media screen and (min-width: 1501px){
    .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 20%;
    }
}


.box h2 {
    display: grid;
    justify-content: center;
    margin: 0px 0 -0.125rem;
    padding: 0;
    color: var(--color-superadmin);
    font: var(--fuente-super-titulo);
    font-variant: small-caps;
    font-size: 32px;
}

.box p {
    margin-bottom: 10px;
    font: var(--fuente-texto);
    color: var(--color-gris);
    text-align: center;
}

.box .input-grup .inputBox {
    position: relative;
    font: var(--fuente-texto);
    margin:0px 40px;
    /* min-width: 147px; */
    max-width: 1fr;
}

.box .inputBox input{
    width: 100%;
    margin: 15px 0px;
    padding: 4px 0px;
    font-size: 1rem;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem; 
    border: none;
    border-bottom: 3px solid var(--color-superadmin);
    background: transparent;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: var(--color-gris);
    pointer-events: none;
    transition: 0.5s;
}

.inputBox input:focus~label, .inputBox input:valid~label, .inputBox input:not([value=""])~label{
    top: -1.125rem;
    left: 10px;
    color: var(--color-superadmin);
    font-size: 0.85rem;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.box .inputBox input:focus {
    outline: none;
}

.botones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}
.box input[type="submit"],.btn {
    border: none;
    outline: none;
    color: var(--color-blanco);
    background-color: var(--color-superadmin);
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font: var(--fuente-texto);
    /* float: right; */
    margin-bottom: 3%;
}

.box input[type="submit"]:hover, .btn:hover {
    background-color: #287ae6;
    box-shadow: 0 1px 1px 0 rgba(66, 133, 244, 0.45), 0 1px 3px 1px rgba(66, 133, 244, 0.3);
}
#coinciden{
    color: var(--color-superadmin);
}


/* CONFIGURACION DEL SELECT SEXO */

.inputBoxS{
    margin: 0 40px;
}

.container-sexo label{
    justify-self: end;
}

.select-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    font:var(--fuente-texto);
}

.select-box .options-container {
    background: var(--color-superadmin);
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
}

.selected {
    background: var(--color-superadmin);
    border-radius: 8px;
    margin-bottom: 8px;
    color: var(--color-blanco);
    position: relative;
    order: 0;
}

.selected::after {
    content: "";
    background: url("../images/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 5px;
    top: 8px;
    transition: all 0.4s;
}

.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container.active+.selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
    display: none;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: var(--color-gris);
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover {
    background: var(--color-blanco);
    color: var(--color-usuario);
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}

/* FIN CONFIGURACION DE LA CALIFICACION */