{% extends 'MasterPage2.html' %}
{% block title %} Inicio {% endblock %}


{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/carrito.css')}}">

<header class="header-paginas">
    <div class="encabezado-inicio">
        <div class="titulo">
            <h1>Carrito de compras </h1>
        </div>
    </div>
</header>
<section class="contenido-paginas">
    <div class="contenedor-carrito">
        <form action="" method="POST">
            {% for fila in range(3) %}
            <div class="contenedor-carrito-productos">
                static\images\upload\enlatados.jpg
                <div class="contenedor-carrito-productos-productos">
                    <div class="contenedor-carrito-productos-productos-producto">
                        <div class="contenedor-carrito-productos-productos-producto-imagen">
                            <img src="{{url_for('static', filename='images/Producto.png')}}" alt="">
                        </div>
                        <div class="contenedor-carrito-productos-productos-producto-descripcion">
                            <h3>Producto {{fila}}</h3>
                            <p>Descripcion del producto</p>
                        </div>
                        <div class="contenedor-carrito-productos-productos-producto-precio">
                            <h3>Precio</h3>
                            <p>$100</p>
                        </div>
                        <div class="contenedor-carrito-productos-productos-producto-cantidad">
                            <h3>Cantidad</h3>
                            <input class="cantidad" type="number" name="cantidad" value="1">
                        </div>
                        <div class="cupon">
                            <h3>Cupon</h3>
                            <input type="number" class="cantidad" value="0" min="0" max="200" step="1" autofocus="autofocus">
                            <input type="hidden" id="inputSelectedCupon" name="selectedCupon" value="">
                        </div>
                        <div class="contenedor-carrito-productos-productos-producto-total">
                            <h3>Total</h3>
                            <p>$100</p>
                        </div>
                        <label class="boton-eliminar"><input type="submit" name="submit_button" id="eliminar"
                            class="boton-eliminar" value="eliminar" style="display: none;"></label>
                    </div>
                </div>
            </div>
            {% endfor %}
            
            <div class="contenedor-carrito-total">
                <div class="contenedor-carrito-total-titulo">
                    <h2>Total</h2>
                </div>
                <div class="contenedor-carrito-total-total">
                    <p>$100</p>
                </div>
            </div>
            <div class="contenedor-carrito-boton">
                <input type="button" class="seguir-comprando" value="Seguir comprando" onclick="history.back()">
                <!-- <input type="submit" class="comprar" value="Comprar"> -->
                <button type="submit" class="comprar" value="Comprar">Comprar</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}