{% extends 'MasterPage2.html' %}
{% block title %} Inicio {% endblock %}


{% block content %}

<link rel="stylesheet" href={{ url_for( 'static', filename='css/font-awesome.min.css' ) }}>
<link rel="stylesheet" href={{ url_for( 'static', filename='css/font-awesome.css' ) }}>
<link rel="stylesheet" href={{ url_for( 'static', filename='css/Styleindex.css' ) }}>


<body>
    <section class="shop">
        <div class="filter">
            <h2> Flitros</h2>
            <div class="price">
                <div class="filter-price">
                <h3 class="price-title">PRICE</h3> 
                <div class="price-range"><p>$</p>
                    <span id="price-range1">1</span><p>&nbsp; - &nbsp; $</p>
                    <span id="price-range2">50000</span>
                </div>                
                </div>
                <div class="priceContainer">
                    <div class="priceContainer-sliderTrack"></div>
                    <input type="range" min="1" max="50000" value="0" id="slider" oninput="sliderUno()">
                    <input type="range" min="1" max="50000" value="50000" id="slider2" oninput="sliderDos()">
                </div> 
            </div>
        </div>
        
        <div class="products">
            {% for fila in range(3) %}
            <div class="products-items">
                <div class="item-top">
                    <img src={{ url_for( 'static', filename='images/upload/218i_Gran_Coupe.png' ) }} alt="">
                    <button class="favorite"></button>
                </div>
                <div class="products-info">
                    <h3>Nombre del producto</h3>
                    <div class="puntuacion">
                        <div class="estrellas-outer">
                            <div class="estrellas-inner" style="width: {{ fila }}rem;"></div>
                        </div>
                        <div class="valor">{{ fila }}</div>
                    </div>
                    <p>$480000</p>
                    <div class="products-buy">
                        <input type="number" min="1" max="20">
                        <button> Comprar</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
<script src={{ url_for( 'static', filename='js/index.js' ) }}></script>

    
    {% endblock %}