{% extends 'MasterPage2.html' %}
{% block title %} Inicio {% endblock %}


{% block content %}

<header class="header-paginas">
    <div class="encabezado-inicio">
        <div class="titulo">
            <h1>Bienvenido </h1><span>a la página de inicio</span>
        </div>
    </div>
</header>
<section class="section-index">

    <div class="ultimos-productos-titulo">
        <h2>Prodcutos</h2>
    </div>
    <div class="ultimos-productos">
        <div class="contenedor">
            {% set rango = 4 %}
            <!-- {% if (consultaProductos|length) > 6%}
                {% set rango=6%}
            {%else%}
                {% set rango=consultaProductos|length %}
            {%endif%} -->

            {% for fila in range(rango) %}
            <div class="contenedor-ultimos">
                <div class="imagen">
                    <img src="{{ consultaProductos[fila]['src_imagen'] }}" alt="">
                </div>
                <div class="informacion">
                    <div class="nombre-producto" id="name">
                        {{ consultaProductos[fila]['nombre_producto'] }}
                    </div>
                    <div class="nombre-proveedor">
                        {{ consultaProductos[fila]['nombre_proveedor'] }}
                    </div>
                    <div class="disponible">
                        <p>Disponible</p><span>: {{ consultaProductos[fila]['cantidad_disponible'] }}</span>
                    </div>

                </div>
            </div>
            {% endfor %}
            
        </div>

    </div>
</section>

{% endblock %}
