<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/font-awesome.min.css' ) }}>
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/awesomplete.css' ) }}>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header class="principal">
        <div class="encabezado">

            <form class="buscar" action="/Search" method="POST">
                
                <input class="search" type="search" id="search" placeholder="Buscar" name="txtsearch">
                <i class="fa fa-search" id="lupa"></i>
            </form>

            <div class="seccion-login">
                <span>Login</span>
                <a href="{{url_for('iniciarSeccion')}}">
                    <div class="btn-login" id="btn-login">
                        Sign in
                    </div>
                </a>
            </div>
        </div>
    </header>

    <section class="contenido" id="contenido">
        {% block content %} {% endblock %}

    </section>

    <script src={{ url_for( 'static', filename='js/awesomplete.js' ) }}></script>
    <script src={{ url_for( 'static', filename='js/jquery-3.3.1.js' ) }}></script>
  
    <script type="text/javascript">
    // DESHABLITAR CLICK DERECHO EN EL SIDEBAR
        $(document).ready(function () {
            //Disable full page
            // $("body").on("contextmenu",function(e){
            //     return false;
            // });
            
            //Disable part of page
            $("#sidebar").on("contextmenu",function(e){
                return false;
            });
        });
        </script>
</body>
</html>