<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrese</title>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='css/normalize.css' ) }}>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='css/registrarse.css' ) }}>
</head>

<body>
    <div class="box">
        <div class="login">
            <h2>Registrarse</h2>
            <p>Llene los siguientes datos para registrarse en el sistema. Su contraseña temporal sera enviada al correo
                ingresado</p>
            <form action="/registrar" method="POST" id="login-form">

                <div class="input-grup">
                    <div class="inputBox">
                        <input type="text" name="username" value="" required
                            onkeyup="this.setAttribute('value', this.value);">
                        <label>Usuario</label>
                    </div>
                    <div class="inputBox">
                        <input type="email" name="email" value="" required
                            onkeyup="this.setAttribute('value', this.value);">
                        <label>Email</label>
                    </div>
                </div>

                <div class="input-grup">
                    <div class="inputBox">
                        <input type="text" name="nombre_user" value="" required
                            onkeyup="this.setAttribute('value', this.value);">
                        <label>Nombres</label>
                    </div>
                    <div class="inputBox">
                        <input type="text" name="apellido_user" value="" required
                            onkeyup="this.setAttribute('value', this.value);">
                        <label>Apellidos</label>
                    </div>

                </div>
                <div class="input-grup">
                    <div class="inputBox">
                        <label for="sexo">Sexo</label>
                        <div class="select-box-sexo">
                            <div class="options-container-sexo">
                                <div class="option-sexo">
                                    <input type="radio" class="radio" id="sexM" name="category-sexo" value="M" />
                                    <label for="sexM" id="lblsexM">M</label>
                                </div>
                                <div class="option-sexo">
                                    <input type="radio" class="radio" id="sexF" name="category-sexo" value="F" />
                                    <label for="sexF" id="lblsexF">F</label>
                                </div>
                                
                            </div>

                        </div>
                        <div class="selected-sexo" id="selected-sexo">
                            M
                        </div>
                        <input type="hidden" id="inputSelectedSexo" name="selectedSexo"  value="M">


                    </div>
                    <div class="inputBox">
                        <input type="number" name="edad_user" value="" required
                            onkeyup="this.setAttribute('value', this.value);">
                        <label>Edad</label>
                    </div>

                </div>
                <div class="input-grup">
                    <div class="inputBox">
                        <input type="text" name="cedula_user" value="" required
                            onkeyup="this.setAttribute('value', this.value);">
                        <label>Cedula</label>
                    </div>
                    <div class="inputBox">
                        <input type="text" name="ciudad_user" value="" required
                            onkeyup="this.setAttribute('value', this.value);">
                        <label>Ciudad</label>
                    </div>

                </div>
                <div class="input-grup">
                    <div class="inputBox">
                        <input type="text" name="direccion_user" value="" required
                            onkeyup="this.setAttribute('value', this.value);">
                        <label>Direccion</label>
                    </div>
                    <div class="inputBox">
                        <input type="tel" name="telefono_user" value="" required
                            onkeyup="this.setAttribute('value', this.value);">
                        <label>Telefono</label>
                    </div>

                </div>

                <!-- <div class="input-grup">
                    <div class="inputBox">
                        <input type="password" name="newpw" value="" id="newpw"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            title="El campo es de tipo alfanumerico, Minimo 8 Caracteres" required
                            onkeyup="this.setAttribute('value', this.value);"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            title="Debe contener al menos un número y una letra mayúscula y minúscula, y al menos 8 caracteres o más">
                        <label>Contraseña</label>
                    </div>
                    <div class="inputBox">
                        <input type="password" name="confirmpw" value="" id="confirmpw"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            title="El campo es de tipo alfanumerico, Minimo 8 Caracteres" required
                            onkeyup="this.setAttribute('value', this.value);"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            title="Debe contener al menos un número y una letra mayúscula y minúscula, y al menos 8 caracteres o más">
                        <label>Repetir Contraseña</label>
                    </div>
                </div> -->

                <!-- <label id="coinciden" style="display: none;">¡Las contraseñas no coinciden!</label>
                <br> -->
                <div class="botones">
                    <input type="button" class="btn" value="Cancelar" onclick="history.back()">
                    <input type="submit" name="sign-in" id="button" value="Registrarse">
                </div>
                {# Mostrar mensajes / errores si es que existen #}
                {% with mensajes_flash = get_flashed_messages() %}
                {% if mensajes_flash %}
                <script>
                    alert('{{ mensajes_flash[0] }}');
                </script>

                {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>
</body>
<script src={{ url_for('static', filename='js/scriptSelectSexo.js' ) }}></script>
<!-- <script>
    var password = document.getElementById("newpw");
    var confirm_password = document.getElementById("confirmpw");

    function validatePassword() {
        if (password.value != confirm_password.value) {

            document.getElementById("coinciden").style.display = "inline";
            // confirm_password.setCustomValidity("Las contraseñas no coinciden");
        } else {
            confirm_password.setCustomValidity('');
            document.getElementById("coinciden").style.display = "none";
        }
    }

    // password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

</script> -->

</html>