{% extends 'MasterPage2.html' %}
{% block title %} Inicio {% endblock %}


{% block content %}

<link rel="stylesheet" href={{ url_for( 'static' , filename='css/font-awesome.min.css' ) }}>
<link rel="stylesheet" href={{ url_for( 'static' , filename='css/font-awesome.css' ) }}>
<link rel="stylesheet" href={{ url_for( 'static' , filename='css/singleProduct.css' ) }}>


<body>
    <section class="product">
        <div class="product-item">
            <div class="product-image">
                <img src="{{ producto['src_imagen'] }}" alt="product"
                    class="product-image">
            </div>
            <form action="/anadir/AddCarrito" method="POST">
                <input type="hidden" name="codigo_producto" value="{{ producto['codigo_producto'] }}">
                <div class="product-info">
                    <h2>{{ producto['nombre_producto'] }}</h2>
                    <h3>{{ producto['nombre_proveedor'] }}</h3>
                    <h4>Numero de calificaciones: {{ producto['calificacion'] }}</h4>

                    <p>{{ producto['descripcion_producto'] }}</p>
                    <p>Cantidad: <input type="number" min="1" max="20" step="1" value="1"></p>
                    <button>Añadir al carrito de compra</button>
                </div>
            </form>
        </div>

        <div class="newComment">
            <form action="/addComentario" method="POST">
                <input type="hidden" name="codigo_producto" value="{{ producto['codigo_producto'] }}">
                <h2>Añadir un comentario</h2>
                <div class="newComment-calificacion">
                    <label for="">Calificación</label>
                    <input type="number" min="1" max="5" value="1" class="newCalificacion" onKeyDown="return false">
                </div>
                <div class="newComment-comentario">
                    <label for="">Comentario</label>
                    <textarea type="text" class="newComment-textarea" name="newComentario"></textarea>
                </div>
                <input type="submit" class="sendComment" value="Comentar">
            </form>
        </div>

        {% for fila in range(comentarios|length) %}
        <div class="product-review">
            <div class="review-One">
                <div class="review-user">
                    <img src="{{ comentarios[fila]['imagen_src'] }}" alt="">
                    <h3>{{ comentarios[fila]['nombre_persona'] }} {{ comentarios[fila]['apellido_persona'] }}</h3>
                </div>
                <div class="puntuacion">
                    <div class="estrellas-outer">
                        <div class="estrellas-inner" style="width:{{ comentarios[fila]['calificacion'] }}rem;"></div>
                    </div>
                    <div class="valor">{{ comentarios[fila]['calificacion'] }}</div>
                </div>
                <p class="fecha">{{ comentarios[fila]['fecha_calcomentario'] }}</p>
                <p class="comment">{{ comentarios[fila]['comentario'] }}</p>
            </div>
        </div>
        {% endfor %}

    </section>
</body>
<script src={{ url_for( 'static' , filename='js/index.js' ) }}></script>


{% endblock %}