{% extends 'MasterPage2.html' %}
{% block title %} Inicio {% endblock %}


{% block content %}

<link rel="stylesheet" href={{ url_for( 'static' , filename='css/font-awesome.min.css' ) }}>
<link rel="stylesheet" href={{ url_for( 'static' , filename='css/font-awesome.css' ) }}>
<link rel="stylesheet" href={{ url_for( 'static' , filename='css/singleProduct.css' ) }}>


<body>
    <section class="product">
        <div class="product-item">
            <div class="product-image">
                <img src={{ url_for( 'static' , filename='images/upload/enlatados.jpg' ) }} alt="product"
                    class="product-image">
            </div>
            <form action="/anadir/AddCarrito" method="POST">
                <input type="hidden" name="codigo_producto" value="{{ producto['codigo_producto'] }}">
                <div class="product-info">
                    <h2>{{ producto['nombre_producto'] }}</h2>
                    <h3>{{ producto['nombre_proveedor'] }}</h3>
                    <h4>Numero de calificaciones: {{ producto['calificaciones'] }}</h4>

                    <p>{{ producto['descripcion_producto'] }}</p>
                    <p>Cantidad: <input type="number" min="1" max="20" step="1" value="1"></p>
                    <button>Añadir al carrito de compra</button>
                </div>
            </form>
        </div>

        <div class="newComment">
            <form action="/addComentario" method="POST">
                <h2>Añadir un comentario</h2>
                <div class="newComment-calificacion">
                    <label for="">Calificación</label>
                    <input type="number" min="1" max="5" value="1" class="newCalificacion" onKeyDown="return false">
                </div>
                <div class="newComment-comentario">
                    <label for="">Comentario</label>
                    <textarea type="text" class="newComment-textarea"></textarea>
                </div>
                <input type="submit" class="sendComment" value="Comentar">
            </form>
        </div>

        {% for fila in range(6) %}
        <div class="product-review">
            <div class="review-One">
                <div class="review-user">
                    <img src={{ url_for( 'static' , filename='images/upload/admin.jpg' ) }} alt="">
                    <h3>Nombre usuario</h3>
                </div>
                <div class="puntuacion">
                    <div class="estrellas-outer">
                        <div class="estrellas-inner" style="width:{{ fila }}rem;"></div>
                    </div>
                    <div class="valor">{{ fila }}</div>
                </div>
                <p class="fecha">23/10/2021</p>
                <p class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. In minima quod, aperiam quo
                    provident vel quas rem dolores labore saepe officiis explicabo reiciendis nobis nostrum? Excepturi
                    quasi ipsum pariatur expedita?</p>
            </div>
        </div>
        {% endfor %}

    </section>
</body>
<script src={{ url_for( 'static' , filename='js/index.js' ) }}></script>


{% endblock %}