{% extends 'MasterPage2.html' %}
{% block title %} Inicio {% endblock %}


{% block content %}

<link rel="stylesheet" href={{ url_for( 'static', filename='css/font-awesome.min.css' ) }}>
<link rel="stylesheet" href={{ url_for( 'static', filename='css/font-awesome.css' ) }}>
<link rel="stylesheet" href={{ url_for( 'static', filename='css/Styleindex.css' ) }}>


<body>
    <sect ion class="shop">
        
        
        
    </section>
</body>
<script src={{ url_for( 'static', filename='js/index.js' ) }}></script>

    
{% endblock %}